header {
    width: 100%;
    position: absolute;
    top: 0;
}

.title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: gray;
}

header .bk-btn {
    position: fixed;
    top: 3%;
    left: 3%;
    transform: translateX(-3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #898989;
    border: none;
    outline: 0;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

.bk-btn .arrow {
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-bottom: 2px solid #898989;
    border-right: 2px solid #898989;
    transform: rotate(135deg);
}